@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Ensure the page fills the viewport. Prevent purgecss from removing this
 * styling, which it likes to do for the #__next selector.
 */
/* purgecss start ignore */
html,
body,
#__next,
#root {
  /* Border-box, no padding. */
  @apply m-0 p-0 box-border;
  /* Fill screen, flex column, stretch items. */
  @apply min-h-screen flex-col;
  /* Prevent text from breaking viewport. */
  word-break: break-word;
}
/* purgecss end ignore */

html,
body {
  @apply p-0 m-0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
  height: 20%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.nav-button {
  @apply rounded-md;

  height: 56px !important;
  font-size: 14px !important;
}

.your-yield {
  width: 100%;
}
