@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Ensure the page fills the viewport. Prevent purgecss from removing this
 * styling, which it likes to do for the #__next selector.
 */
/* purgecss start ignore */
html,
body,
main,
#__next {
  /* Border-box, no padding. */
  @apply m-0 p-0 box-border;
  /* Fill screen, flex column, stretch items. */
  @apply w-full min-h-screen;
  /* Prevent text from breaking viewport. */
  word-break: break-word;
}

main {
  @apply w-full h-full;
  @apply flex flex-col justify-center items-center !important;
  /* Room for header. */
  @apply pt-24;
}

header {
  @apply absolute w-full;
}
/* purgecss end ignore */

html,
body {
  @apply p-0 m-0;
  font-family: 'Poppins', sans-serif !important;
}

header {
  height: 20%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-button {
  @apply rounded-md;

  height: 56px !important;
  font-size: 14px !important;
}

.your-yield {
  width: 100%;
}
